DB_USER=admin
DB_PASSWORD=admin_password
DB_HOST=localhost
DB_PORT=5436
DB_NAME=sabonete
JWT_SECRET=super_secret_jwt_key_sabonete_12345
PORT=3000
SUPER_FRETE_TOKEN=seu_token_superfrete_aqui
SUPER_FRETE_ENV=sandbox
CEP_ORIGEM=01001000

# MercadoPago - PIX
# Obtenha em: https://www.mercadopago.com.br/developers/panel/app
MP_ACCESS_TOKEN=TEST-seu_access_token_aqui
MP_WEBHOOK_URL=https://sua-url-publica.com/api/webhook/mercadopago
MP_WEBHOOK_SECRET=seu_webhook_secret_aqui

# Cloudflare R2 — Armazenamento de imagens de produto
# Crie o bucket e gere as credenciais em: https://dash.cloudflare.com → R2
R2_ACCOUNT_ID=7cff8c51574dc4b3d3f4ff054a632fb7
R2_ACCESS_KEY_ID=c6f3c81ec5fa16d784ec2c21f8f93fbf
R2_SECRET_ACCESS_KEY=b62dbd97a4cdf8a0ff373779ff669698c07060a439d132ae6789b34cad7d9c38
R2_BUCKET_NAME=sabonete-storage
R2_PUBLIC_URL=https://pub-d4d358b0f3f94de391217554eedf6104.r2.dev
